h2 {
  color: green;
  font-family: arial; 
  font-size: 40px
}

.slide {

}

.caption {
  color: blue;
  font-family: georgia;
  font-size: 25px
}

img {
	height: 500px;
	width: 650px;
}

button {
	height: 50px;
	width: 75px;
	font-weight: bold; 
}